extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
	div(class="container my-3")
		div(class="row")
			div(class="col-12")
				+box-head("Danh sách sản phẩm") <!-- mixins -->
		div(class="row")
			div(class="col-4 mb-3")
				div(class="product-item")
					div(class="inner-image")
						img(src="https://th.bing.com/th/id/OIP.ZIdhLcUsQpj03iXPSpQglQHaEK?rs=1&pid=ImgDetMain", alt="IPhone 9")
					div(class="inner-content")
						h3(class="inner-title") IPhone 9
						div(class="inner-price-new") 80$
						div(class="inner-price0-old") 100$
						div(class="inner-discount") -20%