Header(class="header")
	div(class="container-fluid")
		div(class="row align-items-center")
			div(class="col-3")
				div(class="inner-logo")
					a(href=`${PATH_ADMIN}/dashboard`) DASHBOARD

			div(class="col-9")